@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --bg-color: #121212;
    --bg-premium: #929292;
    --bg-premium2: #6e6e6e;
    --main-color: rgb(0, 81, 255)
    --second-color: #1a1a1a;
    --third-color: #2c2c2c;
    --nav-text-color: #98999b;
    --nav-text-hover-color: #fffce4;
    --heading-color: #fffce4;
    --small-text-color: #c7c7c7;
    --very-small-text-color: #999999;
}



.btn-premium {
    cursor: pointer;
    color: var(--heading-color);
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: var(--bg-premium2);
    transition: .35s;
    margin-right: 20px; /* Adjust this value as needed */
}

.btn-premium:hover {
    background-color: var(--bg-premium2);
}

.btn-premium {
    margin-right: 40px; /* Zmniejszam margines z 20px do 10px */
}

